/* RESET */

* {
	box-sizing: border-box;
}

body,
h1,
h2,
p,
ul {
	margin: 0;
	padding: 0;
	font-weight: normal;
}

ul {
	list-style: none;
}

/* ----- GENERAL - Design mobile first ----- */

html {
	font-family: var(--font-text);
}

body {
	background-color: var(--background-color-body);
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	padding: var(--spacing-primary);
}

/* Clavier */

.keyboard {
	z-index: 0;
	display: flex;
	flex-direction: column;
	background-color: var(--background-color-keyboard);
	width: 100%;
	height: 95%;
	max-height: var(--max-height-keyboard);
	max-width: var(--max-width-keyboard);
	padding: var(--spacing-larger) var(--spacing-larger) 0;
	border-radius: var(--border-radius-keyboard);
	margin-bottom: var(--spacing-larger);
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/* Header clavier */

.keyboard__header {
	position: relative;
	max-height: var(--max-height-keyboard-header);
	display: flex;
	justify-content: space-between;
	gap: var(--spacing-primary);
	box-shadow: var(--box-shadow-keyboard);
}

/* Panneau LCD */

.lcd {
	border: var(--border-lcd);
	position: relative;
	z-index: 3;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: var(--width-lcd);
	color: var(--color-light);
	background-color: grey;
	padding: var(--spacing-primary);
	margin-bottom: var(--spacing-primary);
	border-radius: var(--border-radius-lcd);
}

.lcd::before,
.lcd::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	background: linear-gradient(
		45deg,
		#8482c0,
		#464555,
		#007d59,
		#777586,
		#9491d4,
		#464555,
		#007d59,
		#777586,
		#8886c7
	);
	width: 100%;
	height: 100%;
	z-index: -1;
	background-size: 500%;
	animation: animate 50s infinite;
	border-radius: var(--border-radius-lcd);
	box-shadow: #aaa;
}

.lcd::after {
	filter: blur(20px);
}

@keyframes animate {
	0% {
		background-position: 0 0;
	}
	50% {
		background-position: 100% 0;
	}
	100% {
		background-position: 0 0;
	}
}

.brand__title {
	font-family: var(--font-titles);
	font-size: var(--font-size-titles);
	font-weight: 500;
	margin-left: var(--spacing-larger);
}

/* liste pianos */

#piano-type {
	opacity: 0.8;
	position: relative;
	display: flex;
	flex-direction: column;
	height: 100%;
	padding: var(--spacing-smaller);
	overflow-y: scroll;
	scrollbar-width: none;
}

#piano-type label {
	position: relative;
	cursor: pointer;
	border: 1px dashed rgba(255, 255, 255, 0.5);
	padding: var(--spacing-primary);
}

#piano-type .active {
	background-color: rgba(255, 255, 255, 0.3);
}

#piano-type input[type="radio"] {
	display: none;
}

/* Controls */

.controls {
	display: flex;
	flex-direction: column-reverse;
	justify-content: center;
	align-items: center;
	width: var(--width-controls);
	gap: var(--spacing-larger);
}

/* Controls record / play */

.controls__replay {
	display: flex;
	justify-content: center;
	gap: var(--spacing-primary);
	width: 100%;
}

.controls__btn {
	width: var(--size-controls-btn);
	height: var(--size-controls-btn);
	border-radius: 50px;
	border: var(--border-btn);
	cursor: pointer;
}

.controls__record,
.controls__play {
	background-color: var(--background-colot-inactive);
	transition: background-color 0.15s ease-in-out;
}

.controls__record--active {
	background-color: var(--background-color-record);
}

.controls__play--active {
	background-color: var(--background-color-play);
}

/* Controls shortcuts */

.controls__shortcuts {
	display: none;
}

/* Slider Volume */

.volume__container {
	z-index: 2;
	display: flex;
	align-items: center;
	height: var(--height-volume-container);
	gap: var(--spacing-primary);
	background-color: var(--background-color-keyboard);
	position: absolute;
	bottom: 1px;
	left: 50%;
	transform: translate(-50%, 100%);
	padding: var(--spacing-smaller) var(--spacing-larger);
	border-radius: 0 0 var(--border-radius-keyboard) var(--border-radius-keyboard);
	box-shadow: var(--box-shadow-keyboard);
}

.slider {
	appearance: none;
	background-color: var(--background-color-kayboard-dark);
	height: 6px;
	width: 120px;
	display: block;
	cursor: pointer;
}

/* bouton slider pour firefox */
.slider::-moz-range-thumb {
	width: calc(var(--size-slider-btn) - 2px);
	height: calc(var(--size-slider-btn) - 2px);
	border: var(--border-btn);
	border-radius: 6px;
	background-color: var(--background-color-btn);
}

/* boutons slider pour chrome */
.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	width: var(--size-slider-btn);
	height: var(--size-slider-btn);
	border: 1px solid var(--background-color-kayboard-dark);
	border-radius: 6px;
	background-color: var(--background-color-btn);
}

/* Touches clavier */

.keys__container {
	flex-grow: 1;
}

.keys {
	display: flex;
	height: calc(100% + var(--spacing-larger));
	gap: var(--spacing-smaller);
}

.key {
	display: flex;
	justify-content: center;
	align-items: flex-end;
	border-radius: var(--border-radius-keys);
	padding: var(--spacing-primary);
	box-shadow: var(--box-shadow-key);
}

.key__white {
	width: 100%;
	height: 100%;
	background: linear-gradient(
		90deg,
		rgba(80, 80, 80, 1) 0%,
		rgba(238, 238, 238, 1) var(--left-position),
		rgba(255, 255, 255, 1) 50%,
		rgba(238, 238, 238, 1) var(--right-position),
		rgba(80, 80, 80, 1) 100%
	);
	transition: --left-position 0.1s ease-in, --right-position 0.1s ease-in;
}

.key__white--active {
	--left-position: 20%;
	--right-position: 76%;
}

.key__black {
	z-index: 1;
	width: 66%;
	height: 66%;
	margin: 0 -5%;
	background: #1b1b1b;
	transition: background 0.1s ease-in;
}

.key__black--active {
	background: #5c5c5c;
}

.key__shortcut {
	display: none;
}

.raindeer {
	pointer-events: none;
}
